<nav>
  <div class="nav-wrapper blue-grey darken-3">
    <a href="#!" class="brand-logo">Logo</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="/drinks/new">New Drink</a></li>
      <li><a href="/drinks">Drinks List</a></li>
      <li><a href="/ingredients/new">New Ingredients</a></li>
      <li><a href="/ingredients">Ingredients List</a></li>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <li><a href="/drinks/new">New Drink</a></li>
  <li><a href="/drinks">Drinks List</a></li>
  <li><a href="/ingredients/new">New Ingredients</a></li>
  <li><a href="/ingredients">Ingredients List</a></li>
</ul>